.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.75);
  /* for transitioning */
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  &__content {
    width: 50vw;
    max-height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 0.6rem;
    font-size: 1.4rem;
    overflow: hidden;
    transition: all .4s .4s ease;
    @media screen and (max-width: $bp-very-large) {
      width: 60vw;
    }
    @media screen and (max-width: $bp-medium) {
      width: 80vw;
      font-size: 1.2rem;
    }
    &__header {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 10%;
      padding: 2rem 3rem;
      @include gradient-background;
      &__close-btn {
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        border: 4px solid $color-white;
        border-radius: 50%;
        cursor: pointer;
        &::before, &::after {
          content: "";
          width: 60%;
          height: 2px;
          position: absolute;
          top: 50%;
          left:50%;
          background-color: $color-white;
          transition: all .4s ease;
        }
        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover::before {
          transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
        }
        &:hover::after {
          transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
        }
      }
    }
    &__body {
      background-color: #fff;
      padding: 2rem;
      padding-bottom: 3rem;
      text-align: center;
      font-size: inherit;
      &__list {
        list-style: none;
        margin-bottom: 3rem;
      }
      &__link {
        padding: .5rem 0;
        border-bottom: 0.5px solid $color-secondary
      }
    }
  }
}