.section {
  padding: 4rem 0;
  border-bottom: $color-quaternary solid 1px;
  font-size: 1.6rem;
  &__side {
    &--left,
    &--right {
      flex: 0 0 50%;
      padding: 0 2rem;
      @media screen and (max-width: $bp-large) {
        padding: 0 2rem;
      }
    }
    @media screen and (max-width: $bp-large) {
      &--left {
        padding-bottom: 2rem;
      }
    }
  }
}