@mixin placeholder {
  &::placeholder {
    font-size: 1.4rem;
    color: rgba($color-primary, 0.5);
    font-family: 'Lato';
  }
}

@mixin gradient-background {
  background: rgb(51, 33, 45);
  background: linear-gradient(63deg, rgba(51, 33, 45, 1) 0%, rgba(46, 41, 78, 1) 51%, rgba(1, 22, 56, 1) 100%);
}

@mixin menu-hamburger-icon-line {
  border-radius: .2rem;
  height: 2px;
  background-color: $color-white;
}

@mixin link-style-reset {
  outline: none;
  text-decoration: none;
}

@mixin responsive-nav-icon {
  height: 3.5rem;
  border: 2px solid $color-white;
  width: 0;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  // part for animation
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease;
  @media screen and (max-width: $bp-large) {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    width: 4rem;
  }
}