.accordion {
  height: 34rem;
  margin: 0 1rem;
  &__single {
    /* need to style it here */
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    &:not(:last-child) {
      border-bottom: 1px solid #fff;
    }
    &__tab {
      padding: 1rem 2rem;
      color: $color-white;
      background-color: $color-tertiary;
      position: relative;
      cursor: pointer;
      transition: all .4s ease;
      &:hover {
        background-color: lighten($color-tertiary, 8%);
      }
    }
      // &::after {
      //   content: "\271A";
      //   text-align:center;
      //   position: absolute;
      //   width: 2.5rem;
      //   height: 2.5rem;
      //   font-size: 1.5rem;
      //   line-height: 1.6rem;
      //   border: 2px solid $color-white;
      //   border-radius: 50%;
      //   top: 50%;
      //   right:5%;
      //   transform: translateY(-50%);
      // }
    // }
    &__content {
      // for vanilla js
      // max-height: 0;
      //for jquery
      display: none;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: none;
      padding: 0rem 2rem;
      background-color: #eee;
      transition: max-height .5s ease-in-out;
      &__list-item {
        &:first-child,
        &:last-child {
          list-style-type: none; 
        }
      }
    }
  }
  &__toggler-icon {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid $color-white;
    border-radius: 50%;
    &::before {
      content:"";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 50%;
      height: 2px;
      background-color: $color-white;
    }
    &::after {
      content:"";
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%,-50%) rotate(90deg);
      width: 50%;
      height: 2px;
      background-color: $color-white;
      transition: all .6s ease;
    }
  }
  // active state to change
  &__single__tab--is-active > &__toggler-icon::after {
    transform: translate(-50%,-50%) rotate(0deg);
    opacity: 0;
  } 
}