.u-text-center {
  text-align: center !important;
}

.u-bold-text {
  font-weight: 900;
}

.u-word-spacing-none {
  display: inline-block;
  margin-left: -5px;
}

.u-special-section-heading-margin {
  margin: 1rem 0 1rem 1rem
}

.u-margin-left-medium {
  margin-left: 2rem;
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-left-small {
  margin-left: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-color-white {
  color: $color-white !important;
}

// .anchor {
//   display: block;
//   content: " ";
//   margin-top: -$nav-height;
//   height: $nav-height;
// }